.portfolio {
  min-height: 50vh;
  width: 100%;
  padding: 1rem;
  background-color: white;
  box-sizing: border-box; 
}
  
  .header {
    max-width: 800px;
    margin: 0 auto 4rem;
    text-align: center;
  }
  
 