.navbar {
  position: -webkit-sticky;
  position: sticky;
  width: 100%;
  top: 0;
    display: flex;
    justify-content: end;
    gap:15rem;
    align-items: center;
    padding: 1rem 1rem;
    background-color: #E0FFFF;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: larger;
  }
.navbar a{
  text-decoration: none;
}
.navbar a:hover {
  color: #87CEEB;
}